/src/CouseAssignment.Chat/dist/
/web/src/WebApplication1/nbproject/private/
/web/src/ProjectHomepage/nbproject/private/
/web/src/ProjectHomepage/build/
/application/CouseAssignment.Chat.Presentation.Swing/nbproject/private/
/server/CouseAssignment.Chat.Server/nbproject/private/
/client/CouseAssignment.Chat.Client/nbproject/private/
/server/CouseAssignment.Chat.Server/build/
/server/CouseAssignment.Chat.Server/dist/
/client/CouseAssignment.Chat.Client/dist/
/client/CouseAssignment.Chat.Client/build/
/application/CouseAssignment.Chat.Presentation.Swing/build/